div{
    background-color: bisque;
}

.brown{
    background-color:aquamarine
     ;
}
/* child selector */
div > p {
    color: bisque;
}
/* descendant selector */
div p {
    color: red;

}
*{
    margin:0%;
    padding: 0%;
   
}
/* Pseudo selector */
a:visited{
    color: brown;
}

a:link {
    
    color: rgb(12, 6, 17);
}
 a:active {
    
    background-color: blueviolet;
       
 }
  
 a:hover {
    background-color: red;
 }

 p:first-child{
    background-color: black;
 }